In [ ]:
#1. Create a list with integers form 1  to 10.
p=[1,2,3,4,5,6,7,8,9,10]
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#2. Find the length of a list without using the 'Len()' function.
p=[1,2,3,4,5,6,7,8,9,10]
len(p)

10

In [ ]:
#3. Append an element to the end of a list.
p=[1,2,3,4,5,6,7,8,9,10]
p.append(5)
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 5]

In [ ]:
#4. Insert an element at a specific index in a list.
p=[1,2,3,4,5,6,7,8,9,10]
p.insert(2,7)
print(p)

[1, 2, 7, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#5. Remove an element from a list by its value.
p=[1,2,3,4,5,6,7,8,9,10]
p.remove(5)
print(p)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [ ]:
#6. Remove an element from a list by its index.
p=[1,2,3,4,5,6,7,8,9,10]
p.pop(5)
print(p)

[1, 2, 3, 4, 5, 7, 8, 9, 10]

In [ ]:
#7. Check if an element exists in  a list.

p=[1,2,3,4,5,6,7,8,9,10]
i=5

if i in p:
    print("exist")
else:
    print("not exist")

exist

In [ ]:
#8. Find the of the frist occurrence of an element in a list.
p=[1,2,3,4,5,6,7,8,9,10]
print(p.index(10))

9

In [ ]:
#9. Count the occurrence of an element in a list.
p=[1,2,3,4,5,6,7,8,9,10]
count =p.count(5)
print(f'{count=}')

count=1

In [ ]:
#10. Reverse the order of element in a list.
p=[1,2,3,4,5,6,7,8,9,10]
#reverse thr order of list element
p.reverse()
print('Reverse List:',p)

Reverse List: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#11. Sort a list in ascending order.
p=[5,6,7,4,3,2,11,67]
p.sort()
print(p)

[2, 3, 4, 5, 6, 7, 11, 67]

In [ ]:
#12. Sort a list in descending order.
o=[9,5,7,8,51,65,76,98]
print("Sorted in decending order:",o)

Sorted in decending order: [9, 5, 7, 8, 51, 65, 76, 98]

In [ ]:
#13. Create a list of even numbers from 1 to 20.
evens=[x for x in range(1,20)if x%2==0]

print(evens)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
#14. Create a list of odd numbers from 1 to 20.
odd = [x for x in range(1,20)if x%2!=0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
#15.Find the sum of all elements in a list.
p=[1,2,3,4,5,6,7]
o=sum(p)
print(o)

28

In [ ]:
#16. Find the maximum value in a list.
p=[1,2,3,4,5,6]
max(p)
print(max(p))

6

In [ ]:
#17. Find the minimum value in a list.
p=[1,3,2,4,6,7,9]
min(p)
print(min(p))

1

In [ ]:
#18.Create a list of square of numbers from 1 to 10.
p=[1,2,3,4,5,6,7,8,9,10]
square_list=[]

for number in p:
    square_list.append(number**2)

print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
#19. Create a list of random numbers.

import random
randomlist=[]
for i in range(1,10):
    n=random.randint(1,30)
    randomlist.append(n)
    print(randomlist)

[10]
[10, 3]
[10, 3, 23]
[10, 3, 23, 6]
[10, 3, 23, 6, 20]
[10, 3, 23, 6, 20, 24]
[10, 3, 23, 6, 20, 24, 1]
[10, 3, 23, 6, 20, 24, 1, 22]
[10, 3, 23, 6, 20, 24, 1, 22, 20]

In [ ]:
#20.Remove duplicates from a list.
p=[1,2,3,4,5,3,2,5,3,6,7,8,56,765,4,56,67]
p=list(dict.fromkeys(p))
print(p)

[1, 2, 3, 4, 5, 6, 7, 8, 56, 765, 67]

In [ ]:
#21.Find the common elements between two lists.

p=[1,2,3,4,5,6,7,8,9,10,11,12]
o=[11,12,13,14,1,2,3,4,5,6,7]
list(set(p).intersection(o))

[1, 2, 3, 4, 5, 6, 7, 11, 12]

In [ ]:
#22.Find the difference between two lists.
p1=[5,10,15,25,30]
p2=[10,20,30,40,50,60]
p=[]
for element in p1:
    if element not in p2:
        p.append(element)

print(p)

[5, 15, 25]

In [ ]:
#23.Merge two lists.
p1=[5,10,15,25,30]
p2=[10,20,30,40,50,60]
merged_list=p1+p2
print(merged_list)

[5, 10, 15, 25, 30, 10, 20, 30, 40, 50, 60]

In [ ]:
#24. Multiply all elements in a list by 2.

numbers=[1,3,4,5,6,7]
multiplied=[]

for number in numbers:
    multiplied.append(number*2)

print(multiplied)

[2, 6, 8, 10, 12, 14]

In [ ]:
#25. Filter out all even numbers from a list.

list=[1,2,3,4,5]
out = []

for num in list:
    if num % 2== 0:
        out.append(num)

print(out)

[2, 4]

In [ ]:
#26. Convert a list of strings to a list of integers.
listOfString = ["1","2","3","4","5","6"]
nums=[int(s) for s in listOfString]
print(nums)

[1, 2, 3, 4, 5, 6]

In [ ]:
#27. Convert a list of integers to a list of strings.
list_string=[1,12,15,21,131]

result =[str(x) for x in list_string]
print(result)

['1', '12', '15', '21', '131']

In [ ]:
#28. Flatten a nested list.
my_list =[[1],[2,3],[4,5,6,7]]

flat_list=[num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
#29. Create a list of the first 10 fibbonacci numbers.

FibArray = [0,1]

def fibonacci(n):
    if n<0:
        print("Incorrect input")
    elif n<len(FibArray):
        return FibArray[n]
    else:
        FibArray.append(fibonacci(n-1)+fibonacci(n-2))
        return FibArray[n]

#Driver Program
print(fibonacci(10))

55

In [ ]:
#30. Check if a list is sorted.
mylist1=[1,2,3,4,5,6,7]
mylist2=[1,2,3,4,5,6,6]
mylist3=[1,2,3,4,2,5,6,4]

def checkSortedList(newList):
    isSorted =True
    l=len(newList)
    for i in range(l - 1):
        if newList[i]>newList[i+1]:
            isSorted = False
    return isSorted


mylist1=[1,2,3,4,5,6,7]
mylist2=[1,2,3,3,4,5,5]
mylist3=[1,2,3,4,2,5,6]
print("The list {} is sorted: {}".format(mylist1,checkSortedList(mylist1)))
print("The list {} is sorted: {}".format(mylist2,checkSortedList(mylist2)))
print("The list {} is sorted: {}".format(mylist3,checkSortedList(mylist3)))

The list [1, 2, 3, 4, 5, 6, 7] is sorted: True
The list [1, 2, 3, 3, 4, 5, 5] is sorted: True
The list [1, 2, 3, 4, 2, 5, 6] is sorted: False

In [ ]:
#31. Rotate a list to the left by `n` positions.
p=[1,2,3,4,5,6]
print ("Original list : " + str(p))
p = p[3:] + p[:3]
print ("List after left rotate by 3 : " + str(p))
p = p[-3:] + p[:-3]
print ("List after right rotate by 3(back to original) : "
                                        + str(p))

Original list : [1, 2, 3, 4, 5, 6]
List after left rotate by 3 : [4, 5, 6, 1, 2, 3]
List after right rotate by 3(back to original) : [1, 2, 3, 4, 5, 6]

In [ ]:
#32. Rotate a list to the right by `n` positions.
p=[1,2,3,4,5,6]
print ("Original list : " + str(p))
p = p[4:] + p[:4]
print ("List after right rotate by 4 : " + str(p))
p = p[-4:] + p[:-4]
print ("List after left rotate by 4(back to original) : "
                                        + str(p))

Original list : [1, 2, 3, 4, 5, 6]
List after right rotate by 4 : [5, 6, 1, 2, 3, 4]
List after left rotate by 4(back to original) : [1, 2, 3, 4, 5, 6]

In [ ]:
#33. Create a list of prime numbers up to 50.


for i in range(2,50):
    for j in range(2,50):
        if i%j == 0:
            break

    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,

In [ ]:
#34. Split a list into chunks of size `n`.
p=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
chunk_size = 4
chunks=[p[i:i+chunk_size]for i in range(0,len(p),chunk_size)]
print(chunks)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16], [17, 18, 19, 20]]

In [2]:
#35. Find the second largest number in a list.
def findLargest(arr):
    secondLargest = 0
    largest = min(arr)

    for i in range(len(arr)):
        if arr[i] > largest:
            secondLargest = largest
            largest = arr[i]
        else:
            secondLargest = max(secondLargest, arr[i])
    return secondLargest

print(findLargest([10, 20, 4, 45, 99]))

45

In [3]:
#36. Replace every element in a list with its square.
def square_list(list1):
    for i in list1:
        list1[list1.index(i)] = i**2
    print(list1)

square_list([1, 2, 3, 4, 5])

[1, 16, 9, 4, 25]

In [5]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
def convert(list):
   res_dict = {}
   for i in range(0, len(list), 2):
       res_dict[list[i]] = list[i + 1]
   return res_dict

list = ['a', 1, 'b', 2, 'c', 3]
print(convert(list))

{'a': 1, 'b': 2, 'c': 3}

In [6]:
#38. Shuffle the elements of a list randomly.
import random

test_list = [1, 4, 5, 6, 3]

print("The original list is : " + str(test_list))

# using random.shuffle() to shuffle a list
random.shuffle(test_list)

print("The shuffled list is : " + str(test_list))

The original list is : [1, 4, 5, 6, 3]
The shuffled list is : [1, 6, 5, 4, 3]

In [7]:
#39. Create a list of the first 10 factorial numbers.
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
num = 7
result = factorial(num)
print("The factorial of", num, "is", result)

The factorial of 7 is 5040

In [9]:
#40. Check if two lists have at least one element in common.

def common_data(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result

    return result
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
print(common_data(a, b))

a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9]
print(common_data(a, b))

True
False

In [10]:
#41. Remove all elements from a list.
myList = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print("The original list is:")
print(myList)
while myList:
    myList.pop()
print("List after deleting all the elements:",myList)

The original list is:
[1, 2, 3, 4, 5, 6, 7, 8, 9]
List after deleting all the elements: []

In [12]:
#42. Replace negative numbers in a list with 0.
p= [1, 2, 3, 4, -1, -4, 5, -6]

print(f'List before changes: {p}')

p = [0 if x < 0 else x for x in p]

print(f'List after changes: {p}')

List before changes: [1, 2, 3, 4, -1, -4, 5, -6]
List after changes: [1, 2, 3, 4, 0, 0, 5, 0]

In [14]:
#43. Convert a string into a list of words.
s="Prajkta"
x=[i for i in s]
print(x)

['P', 'r', 'a', 'j', 'k', 't', 'a']

In [17]:
#44. Convert a list of words into a string.
def listToString(s):
    str1 = " "
    return (str1.join(s))
s = ['Prajkta','omkar','yadav']
print(listToString(s))

Prajkta omkar yadav

In [29]:
# 45. Create a list of the first `n` powers of 2.
n = int(input("Enter the value of n: "))
powers_of_2 = []
for i in range(n):
    power = 2 ** i
    powers_of_2.append(power)
print(powers_of_2)

Enter the value of n: 6
[1, 2, 4, 8, 16, 32]

In [31]:
#46. Find the longest string in a list of strings.


lst=['prajkta', 'omkar', 'yadav']
max_length,longest_element = max([(len(x),x) for x in (lst)])
print("max length is: ",max_length)
print("longest string is: ", longest_element)

max length is:  7
longest string is:  prajkta

In [33]:
#47. Find the shortest string in a list of strings.

lst=['prajkta', 'omkar', 'prajuom']
min_length,shortest_element = min([(len(x),x) for x in (lst)])
print("min length is: ",min_length)
print("longest string is: ", shortest_element)

min length is:  5
longest string is:  omkar

In [35]:
#48. Create a list of the first `n` triangular numbers.

n = 9
triangle_nums = []
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    triangle_nums.append(tri_num)

print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [41]:
#49. Check if a list contains another list as a subsequence.

def contains_subsequence(main_list, sub_list):
    len_main = len(main_list)
    len_sub = len(sub_list)

    for i in range(len_main - len_sub + 1):
        if main_list[i:i + len_sub] == sub_list:
            return True

    return False
main_list = [1, 2, 3, 4, 5, 6, 7]
sub_list = [3, 4, 5]

if contains_subsequence(main_list, sub_list):
    print("main_list contains sub_list as a contiguous subsequence.")
else:
    print("main_list does not contain sub_list as a contiguous subsequence.")

main_list contains sub_list as a contiguous subsequence.

In [42]:
#50. Swap two elements in a list by their indices.


def swapPositions(list, pos1, pos2):

    list[pos1], list[pos2] = list[pos2], list[pos1]
    return list
List = [23, 65, 19, 90]
pos1, pos2  = 1, 3

print(swapPositions(List, pos1-1, pos2-1))

[19, 65, 23, 90]