In [ ]:
#1. Create a set with integers from 1 to 5.
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [ ]:
#2. Add an element to a set.
s = set([1, 2, 3, 4, 5])

s.add(6)
print("Set after adding 6 to it:", s)

Set after adding 6 to it: {1, 2, 3, 4, 5, 6}

In [ ]:
#3. Remove an element from a set.
s={1,2,3,4,5,6}
s.remove(5)
print(s)

{1, 2, 3, 4, 6}

In [ ]:
#4. Check if an element exists in a set.
s={1,2,4,5}
if 3 in s:
  print("3 is present in the set")
else:
  print("3 is not present in the set")

3 is not present in the set

In [ ]:
#5. Find the length of a set without using the `len()` function.

s={1,2,3,4,5}
pos=0
for i in s:
    pos+=1
print(pos)

5

In [ ]:
#6. Clear all elements from a set.

s={1,2,3,4,5}
s.clear()
print(s)

set()

In [ ]:
#7. Create a set of even numbers from 1 to 10.
evens={x for x in range(1,10)if x%2==0}

print(evens)

{8, 2, 4, 6}

In [ ]:
#8. Create a set of odd numbers from 1 to 10.
odd={x for x in range(1,10)if x%2!=0}

print(odd)

{1, 3, 5, 7, 9}

In [ ]:
#9. Find the union of two sets.

s=[{1,2,3,4},{5,6,7},{8,9,10}]


res = set().union(*s)
print("Multiple set union : " + str(res))

Multiple set union : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#10. Find the intersection of two sets.
s1={1,2,3,4,5}
s2={6,7,8,9,10}
s3={11,12,13,14,15}

set= s1 & s2 & s3
print(set)

set()

In [ ]:
#11. Find the difference between two sets.
s= {10, 20, 30, 40, 80}
s1= {100, 30, 80, 40, 60}
print (s.difference(s1))
print (s1.difference(s))

{10, 20}
{100, 60}

In [ ]:
#12. Check if a set is a subset of another set.

s={1,2,3,4,5}
s1={3,4,5,6,7}
print(s.issubset(s1))

False

In [ ]:
#13. Check if a set is a superset of another set.
s={1,2,3,4,5,6,7}
s1={3,4,5,6,7}
print(s.issuperset(s1))

True

In [ ]:
#14. Create a set from a list.
set = {'i', 'am', 'yash'}
s = list(set)
print(s)

['yash', 'i', 'am']

In [ ]:

#15. Convert a set to a list.

def convert(set):
    return sorted(set)

# Driver function
my_set = {1, 2, 3}

s = convert(my_set)
print(convert(s))

[1, 2, 3]

In [2]:
#16. Remove a random element from a set.

s={1,2,3,4,5,6,7,8,9}

s.remove(6)
print(s)

{1, 2, 3, 4, 5, 7, 8, 9}

In [4]:
#17. Pop an element from a set.

s={1,2,3,4,5,6,7}
s.pop()
print(s)

{2, 3, 4, 5, 6, 7}

In [11]:
from re import X
#18. Check if two sets have no elements in common.

x={1,2,3,4,5,6}
y={7,8,9,10,11,12}
def compare_sets(x, y):
    for i in x:
        if i in y:
            return False
    return True
print("\nConfirm two given sets have no element in common:")

print(compare_sets(x, y))

Confirm two given sets have no element in common:
True

In [13]:
#19. Find the symmetric difference between two sets.

set1={1,2,3,9,8,7}
set2={1,2,3,7,10,11}
print(set1.symmetric_difference(set2))

{8, 9, 10, 11}

In [16]:
#20. Update a set with elements from another set.

set={11,32,43,56,86}
set1={43,76,25,90,67}
set2={56,87,56,34,12}
set1.update(set)
print(set1)
set1.update(set2)
print(set)

{32, 67, 43, 76, 11, 86, 56, 25, 90}
{32, 86, 56, 43, 11}

In [17]:
#21. Create a set of the first 5 prime numbers.

i = 1
x = int(input("Enter the number:"))
for k in range(1, x+1):
    c = 0
    for j in range(1, i+1):
        a = i % j
        if a == 0:
            c = c + 1

    if c == 2:
        print(i)
    else:
        k = k - 1

    i = i + 1

Enter the number:50
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [20]:
#22. Check if two sets are identical.
ste1 = {(11, 14), (54, 58)}
set2 = {(98, 56), (10, 13)}

print("The first  set is : ")
print(set1)
print("The second  set is : ")
print(set2)

my_result = set1 ==set2

print("The set is identical?")
print(my_result)

The first  set is :
{32, 34, 67, 43, 76, 11, 12, 86, 87, 56, 25, 90}
The second  set is :
{(10, 13), (98, 56)}
The set is identical?
False

In [21]:
#23. Create a frozen set.
set = ('m', 'r', 'o', 't', 's')

fSet = frozenset(set)
print('Frozen set is:', fSet)
print('Empty frozen set is:', frozenset())

Frozen set is: frozenset({'m', 'r', 's', 't', 'o'})
Empty frozen set is: frozenset()

In [23]:
person = {"name": "Prajkta", "age": 22, "sex": "female"}

fSet = frozenset(person)
print('Frozen set is:', fSet)

Frozen set is: frozenset({'age', 'name', 'sex'})

In [25]:
#24. Check if a set is disjoint with another set.
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9,10}
print(set1.isdisjoint(set2))

False

In [35]:
#25. Create a set of squares of numbers from 1 to 5.

squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [39]:
#26. Filter out all even numbers from a set.


evens = [x for x in range(30) if x%2 == 0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [49]:
#27. Multiply all elements in a set by 2.

set={1,3,4,5,6,7}
multiplied=[]

for set in numbers:
    multiplied.append(set*2)

print(multiplied)

[2, 6, 8, 10, 12, 14]

In [50]:
#28. Create a set of random numbers.

import random

N = 7
R = 11
res = {divmod(ele, R + 1) for ele in random.sample(range((R + 1) * (R + 1)), N)}

print("The N random tuples : " + str(res))

The N random tuples : {(6, 2), (7, 1), (3, 10), (7, 6), (6, 10), (4, 8), (7, 8)}

In [53]:
#29. Check if a set is empty.

set1={1,2,3,4,5,6,7}
set2={}
if not set1:
    print ("set is empty")
    if not set2:
      print("set is empty")
else:
    print ("set is not empty")

set is not empty

In [64]:
#30. Create a nested set (hint: use frozenset).
x=55

if x > 10:
  print("Above ten")
  if x< 20:
    print("also above 20!")
  else:
    print("not above 20")

Above ten
not above 20

In [70]:
#31. Remove an element from a set using the discard method.

set = {2, 3, 4, 5}
set.discard(3)
print(set)

{2, 4, 5}

In [74]:
#32. Compare two sets.

set={1,2,3,4,5}
set1={4,5,6,7,8,9}
set2={2,3,9,8,7,10,11}

print(set < ste1)
print(set1 > set2)
print(set == set2)

False
False
False

In [79]:
#33. Create a set from a string.

student_id = {11, 14, 16,118, 15}
print('Student ID:', student_id)

vowel_letters = {'a', 'e', 'i', 'o', 'u'}
print('Vowel Letters:', vowel_letters)

Student ID: {16, 118, 11, 14, 15}
Vowel Letters: {'e', 'a', 'o', 'u', 'i'}

In [81]:
#34. Convert a set of strings to a set of integers.

num = '10'
converted_num = int(num)
print(converted_num + 20)

30

In [86]:
#35. Convert a set of integers to a set of strings.

num = 10

converted_num = str(num)
print(converted_num)

10

In [108]:
#36. Create a set from a tuple.

set={1,2,3,4,5}
converted_tuple = str(set)
print(converted_tuple)

{1, 2, 3, 4, 5}

In [111]:
#37. Convert a set to a tuple.


mySet = {'apple', 'banana', 'cherry'}
output = str(mySet)
print(f'Tuple : {output}')

Tuple : {'cherry', 'banana', 'apple'}

In [121]:
#38. Find the maximum value in a set.

numbers = {5, 2, 8, 1, 9, 2, 18}
maximum = max(numbers)

print("Maximum value:", maximum)

Maximum value: 18

In [122]:
#40. Create a set from user input.

numbers = {5, 2, 8, 1, 9, 2, 18}
minimum = min(numbers)
print("Minimum value:", minimum)

Minimum value: 1

In [123]:
#41. Check if the intersection of two sets is empty.
A = {1, 2, 3}
B = {2, 3, 4}

AnB = A.intersection(B)
print(AnB)

{2, 3}

In [125]:
#42. Create a set of the first 5 Fibonacci numbers.
n = 5
num1 = 0
num2 = 1
next_number = num2
count = 1

while count <= n:
    print(next_number, end=" ")
    count += 1
    num1, num2 = num2, next_number
    next_number = num1 + num2
print()

1 2 3 5 8

In [129]:
#43. Remove duplicates from a list using sets.
def Remove(duplicate):
    final_set = []
    for num in duplicate:
        if num not in final_set:
            final_set.append(num)
    return final_set

# Driver Code
duplicate = {2, 4, 10, 20, 5, 2, 20, 4}
print(Remove(duplicate))

[2, 4, 5, 20, 10]

In [135]:
#44. Check if two sets have the same elements, regardless of their count.


set1 = {12,90,43,56}
set2 = {43,56,12,90}
set3 = {43,56,12}


print(set1 == set2)
print(set1 == set3)

True
False

In [142]:
#45. Create a set of the first `n` powers of 2.

def problem(n):
  myList=[]
  for j in range(0,n):
    number = 2 ** j
    myList.append(number)
  return myList

In [148]:
#46. Find the common elements between a set and a list.
def common_elements(list_1, list_2):
    a_set = set(list_1)
    b_set = set(list_2)
    if len(a_set.intersection(b_set)) > 0:
        print (list(a_set.intersection(b_set)))
    else:
        print("No common elements between the two lists")

In [150]:
#47. Create a set of the first `n` triangular numbers.

def all_triangle_numbers(n):
     for i in range(1, n + 1):
        print("n = {0}, triangle = {1}".format(i, (i ** 2 + i)//2))

all_triangle_numbers(10)

n = 1, triangle = 1
n = 2, triangle = 3
n = 3, triangle = 6
n = 4, triangle = 10
n = 5, triangle = 15
n = 6, triangle = 21
n = 7, triangle = 28
n = 8, triangle = 36
n = 9, triangle = 45
n = 10, triangle = 55

In [151]:
#48. Check if a set contains another set as a subset
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [152]:
#49.Create a set of alternating 1s and 0s of length 'n'
count_1 = 4
count_0 = 3
size = 14
test_list = [1 if i % (count_1 + count_0) < count_1
             else 0 for i in range(size)]
print("The list after initializing : " + str(test_list))

The list after initializing : [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0]

In [154]:
#50.Merge multiple sets into one

set1 = { 1, 2, 3 }
set2 = { 3, 4, 5 }

new_set = set1.union(set2)
print(new_set)

{1, 2, 3, 4, 5}