In [ ]:
#1. Create a tuple with integers from 1 to 5.
t=(1,2,3,4,5)
print(t)

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple.
t=(1,2,3,4,5,6)
print(t[3])

4

In [ ]:
#3. Find the length of a tuple without using the `len()` function.
a=(1,2,2,3,1,3,3)
pos=0
for i in a:
    pos+=1
print(pos)

7

In [ ]:
#4. Count the occurrences of an element in a tuple.
vowels = ('a', 'e', 'i', 'o', 'i', 'u')
count = vowels.count('i')

print(count)

2

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.
my_tuple = ( 4, 2, 5, 6, 7, 5)
print(my_tuple.index(5))

2

In [ ]:
#6. Check if an element exists in a tuple.
tuple1 = (5, 3, 2, 8, 4, 4, 6, 2)

# Check if item 8 is present in the tuple
if 8 in tuple1:
    print('8 is in the tuple', tuple1)
else:
    print('8 is not in the tuple', tuple1)

8 is in the tuple (5, 3, 2, 8, 4, 4, 6, 2)

In [ ]:
#7. Convert a tuple to a list.

value = (10, 20, 30, 40, 50)

p = list(value)
print(p)

[10, 20, 30, 40, 50]

In [ ]:
#8. Convert a list to a tuple.

value = [10, 20, 30, 40, 50]

p = tuple(value)
print(p)

(10, 20, 30, 40, 50)

In [ ]:
#9. Unpack the elements of a tuple into variables.
a = ("Kurlap", 5000, "Computer Science")
(college, student, type_ofcollege) = a

print(college)

print(student)
print(type_ofcollege)

Kurlap
5000
Computer Science

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.
evTuple = (1,2,3,4,5,6,7,8,9,10)
print("Tuple Items = ", evTuple)

print("\nThe Even Numbers in this evTuple Tuple are:")
for i in range(len(evTuple)):
    if(evTuple[i] % 2 == 0):
        print(evTuple[i], end = "  ")

Tuple Items =  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The Even Numbers in this evTuple Tuple are:
2  4  6  8  10

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.
oddTuple=(1,2,3,4,5,6,7,8,9,10)
print("Tuple Items=",oddTuple)

print("\nThe Odd Numbers in this oddTuple Tuple are:")
for i in range(len(oddTuple)):
  if(oddTuple[i]%2!=0):
    print(oddTuple[i],end=" ")

Tuple Items= (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

The Odd Numbers in this oddTuple Tuple are:
1 3 5 7 9

In [ ]:
#12. Concatenate two tuples.
tuple1=(1,2,3,4,5)
tuple2=(5,6,7,8,9)
print("The original tuple 1 : " + str(tuple1))
print("The original tuple 2 : " + str(tuple2))

res = tuple1+ tuple2
print("The tuple after concatenation is : " + str(res))

The original tuple 1 : (1, 2, 3, 4, 5)
The original tuple 2 : (5, 6, 7, 8, 9)
The tuple after concatenation is : (1, 2, 3, 4, 5, 5, 6, 7, 8, 9)

In [ ]:
#13. Repeat a tuple three times.
tuple=(1,2,3,4,5,6,7,8)
print("The original tuple : " + str(tuple))
N = 3

res = ((tuple, ) * N)
print("The duplicated tuple elements are : " + str(res))

The original tuple : (1, 2, 3, 4, 5, 6, 7, 8)
The duplicated tuple elements are : ((1, 2, 3, 4, 5, 6, 7, 8), (1, 2, 3, 4, 5, 6, 7, 8), (1, 2, 3, 4, 5, 6, 7, 8))

In [ ]:
#14. Check if a tuple is empty.
t1 = ()
t2 = (1, 2, 3)

print(len(t1)==0)
print(len(t2)==0)

True
False

In [ ]:
#15. Create a nested tuple.
tuple1 = (3, 4)
tuple2 = (5, 6)
print("The original tuple 1 : " + str(tuple1))
print("The original tuple 2 : " + str(tuple2))
res = tuple1 + tuple2
print("Tuples after Concatenating : " + str(res))

The original tuple 1 : (3, 4)
The original tuple 2 : (5, 6)
Tuples after Concatenating : (3, 4, 5, 6)

In [ ]:
#16. Access the first element of a nested tuple.
p= ("omkar", "prajkta", "yash")
print(p[1])

prajkta

In [ ]:
#17. Create a tuple with a single element.
tuple = ("Gaikwad",)
print(type(tuple))

tuple = ("Geeks")
print(type(tuple))

<class 'tuple'>
<class 'str'>

In [ ]:
#18. Compare two tuples.
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

print(tuple1 < tuple2)
print(tuple1 > tuple2)
print(tuple1 == tuple2)

True
False
False

In [2]:
#19. Delete a tuple.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

In [ ]:
#20. Slice a tuple.
a = ("a", "b", "c", "d", "e", "f", "g", "h")
x = slice(2)
print(a[x])

('a', 'b')

In [ ]:
#21. Find the maximum value in a tuple.

t = (25, 17, 55, 63, 40)

max_val = t[0]

for i in range(len(t)):
    if t[i] > max_val:
        max_val = t[i]

print("Maximum value is:", max_val)

Maximum value is: 63

In [ ]:
#22. Find the minimum value in a tuple.

t=(1,23,43,54,7,87)
min_val=t[0]
for i in range(len(t)):
  if t[i]>min_val:
    min_val=t[i]

print("minimum value is:",min_val)

minimum value is: 87

In [ ]:
#23. Convert a string to a tuple of characters.
my_tuple = ()
print(my_tuple)
my_tuple = (1, 2, 3)
print(my_tuple)
my_tuple = (1, "Hello", 3.4)
print(my_tuple)
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

In [ ]:
#24. Convert a tuple of characters to a string.

def convertTuple(tup):
        # initialize an empty string
    str = ''
    for item in tup:
        str = str + item
    return str


# Driver code
tuple = ('r', 'a', 'j', 'e', 'n','d','r','a')
str = convertTuple(tuple)
print(str)

rajendra

In [ ]:
#25. Create a tuple from multiple data types.

# Define a tuple
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Print the result
print(my_list) # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
#26. Check if two tuples are identical.

my_list_1 = [(11, 14), (54, 58)]
my_list_2 = [(98, 0), (10, 13)]

print("The first list of tuple is : ")
print(my_list_1)
print("The second list of tuple is : ")
print(my_list_2)

my_result = my_list_1 == my_list_2

print("Are the list of tuples identical?")
print(my_result)

The first list of tuple is :
[(11, 14), (54, 58)]
The second list of tuple is :
[(98, 0), (10, 13)]
Are the list of tuples identical?
False

In [ ]:
#27. Sort the elements of a tuple.
numbers = (4, 1, 3, 2)

numbers = list(numbers)

numbers.sort(reverse=True)

print(numbers)

[4, 3, 2, 1]

In [5]:
#28. Convert a tuple of integers to a tuple of strings.

test_str = "(7, 8, 9)"


print("The original string is : " + test_str)
res = eval(test_str)
print("The tuple after conversion is : " + str(res))

The original string is : (7, 8, 9)
The tuple after conversion is : (7, 8, 9)

In [6]:
 # 29. Convert a tuple of strings to a tuple of integers.

myinput = "2 3"
temp = myinput.split()
print(temp)
['2', '3']
mytuple = tuple(myinput)
print(mytuple)
('2', ' ', '3')
mytuple = tuple(myinput.split(" "))
mytuple
('2', '3')

['2', '3']
('2', ' ', '3')

('2', '3')

In [8]:
#30. Merge two tuples.
tuple1=(1,2,3,4,5,6)
tuple2=(6,7,8,9,10,11)
merge_tuple=tuple1+tuple2
print(merge_tuple)

(1, 2, 3, 4, 5, 6, 6, 7, 8, 9, 10, 11)

In [11]:
#31. Flatten a nested tuple.

def flatten(test_tuple):

    if isinstance(test_tuple, tuple) and len(test_tuple) == 2 and not isinstance(test_tuple[0], tuple):
        res = [test_tuple]
        return tuple(res)

    res = []
    for sub in test_tuple:
        res += flatten(sub)
    return tuple(res)

test_tuple = ((4, 5), ((4, 7), (8, 9), (10, 11)), (((9, 10), (3, 4))))

res = flatten(test_tuple)

print("The flattened tuple : " + str(res))

The flattened tuple : ((4, 5), (4, 7), (8, 9), (10, 11), (9, 10), (3, 4))

In [13]:
#32. Create a tuple of the first 5 prime numbers.
for i in range(2,15):
    for j in range(2,15):
        if i%j == 0:
            break

    if i == j:
        print(i,end=",")

2,3,5,7,11,13,

In [22]:
#33. Check if a tuple is a palindrome.



# Driver code
tuple = (1, 76, 39, 93, 67, 1)
if(joinArray(tuple)):
    print("Palindrome")
else:
    print("not Palindrome")

Palindrome

In [26]:
#34. Create a tuple of squares of numbers from 1 to 5.

def square_tuple(tuple1):
    for i in tuple1:
        tuple1[tuple1.index(i)] = i**2
    print(tuple1)

square_tuple([1, 2, 3, 4, 5])

[1, 16, 9, 4, 25]

In [27]:
#35. Filter out all even numbers from a tuple.
tuple=(1,2,3,4,5)
out = []

for num in tuple:
    if num % 2== 0:
        out.append(num)

print(out)

[2, 4]

In [36]:
#36. Multiply all elements in a tuple by 2.


numbers=(1,3,4,5,6,7)
multiplied=[]

for number in numbers:
    multiplied.append(number*2)

print(multiplied)

[2, 6, 8, 10, 12, 14]

In [37]:
#37. Create a tuple of random numbers.
import random

N = 5
R = 10
res = [divmod(ele, R + 1) for ele in random.sample(range((R + 1) * (R + 1)), N)]

print("The N random tuples : " + str(res))

The N random tuples : [(10, 2), (6, 6), (4, 1), (2, 0), (5, 10)]

In [39]:
#38. Check if a tuple is sorted.
def is_tuple_sorted(t):
    for i in range(1, len(t)):
        if t[i] < t[i-1]:
            return False
    return True
t = (1, 2, 3, 4, 5)
print(is_tuple_sorted(t))

True

In [46]:
#39. Rotate a tuple to the left by `n` positions.

def leftShift(tup, n):
    length = len(tup)
    if length != 0:
        n = n % length
    else:
        return joinArray(tuple)
    return tup[n:] + tup[0:n]

sample = (1,2,3,4)
sample2 = ()

print(leftShift(sample, 5))
print(leftShift(sample, 1))
print(leftShift(sample, 15))
print(leftShift(sample, 3))
print(leftShift(sample2, 4))

(2, 3, 4, 1)
(2, 3, 4, 1)
(4, 1, 2, 3)
(4, 1, 2, 3)
False

In [49]:
#40. Rotate a tuple to the right by `n` positions.

rotate_num = 3
list_1 = [1, 2, 3, 4, 5, 6]

print(rightRotate(list_1, rotate_num))

[4, 5, 6, 1, 2, 3]

In [52]:
#41. Create a tuple of the first 5 Fibonacci numbers.

nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print("Fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

How many terms? 7
Fibonacci sequence:
0
1
1
2
3
5
8

In [ ]:
#42. Create a tuple from user input.

my_tuple = tuple(input('Enter space-separated words: ').split())

print(my_tuple)

In [59]:
#43. Swap two elements in a tuple.
test_list = [(3, 4), (6, 5), (7, 8)]

# printing original list
print("The original list is : " + str(test_list))

# Swap tuple elements in list of tuples
# Using list comprehension
res = [(sub[1], sub[0]) for sub in test_list]

# printing result
print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

In [60]:
#44. Reverse the elements of a tuple.

def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup

# Driver Code
tuples = ('o','m','k','a','r','p','r','a','j','u')
print(Reverse(tuples))

('u', 'j', 'a', 'r', 'p', 'r', 'a', 'k', 'm', 'o')

In [61]:
#45. Create a tuple of the first `n` powers of 2.

def two_powers(num):
    powers = []
    while num != 0:
        powers.append(num & -num)
        num = num & (num - 1)
    return powers

In [62]:
#46. Find the longest string in a tuple of strings.

def find_longest_string(lst):
    longest = ""
    for item in lst:
        if len(item) > len(longest):
            longest = item
    return longest

my_list = ["abc", "abcderf", "abcd", "ab", "a"]
longest_string = find_longest_string(my_list)
print("Longest string:", longest_string)

Longest string: abcderf

In [71]:
#47. Find the shortest string in a tuple of strings.

def smallest_string(iterable):
    res = None
    for x in iterable:
        if res is None or len(x) < len(res):
            res = x
    return res

strings = ["i", "am", "praju"]
print(smallest_string(strings))

i

In [75]:
#48. Create a tuple of the first `n` triangular numbers.

n = 9
triangle_nums = []
tri_num = 0

for i in range(1, n + 1):
    tri_num += i
    triangle_nums.append(tri_num)

print(triangle_nums)

[1, 3, 6, 10, 15, 21, 28, 36, 45]

In [80]:
#49. Check if a tuple contains another tuple as a subsequence.

def contains_subsequence(main_tuple, sub_tuple):
    len_main = len(main_tuple)
    len_sub = len(sub_tuple)

    for i in range(len_main - len_sub + 1):
        if main_tuple[i:i + len_sub] == sub_tuple:
            return True

    return False
main_tuple = [1, 2, 3, 4, 5, 6, 7]
sub_tuple = [3, 4, 5]

if contains_subsequence(main_tuple, sub_tuple):
    print("main_list contains sub_list as a contiguous subsequence.")
else:
    print("main_list does not contain sub_list as a contiguous subsequence.")

main_list contains sub_list as a contiguous subsequence.

In [81]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

result = []
length = 7

for i in range(length):

   if i % 2 == 0:
      result.append(1)
   else:
      result.append(0)
print(result)

[1, 0, 1, 0, 1, 0, 1]